{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="text-center">
<br>    <h1>Visitor Management System</h1>
</div>
<div class="text-center">
    <br><br>
    <button style="border-radius: 20px ; padding-left: 30px; padding-right: 30px;" type="button" class="btn btn-primary0" onclick="window.location.href='/sign-up'">Register</button><br><br>
    <button style="border-radius: 20px ; padding-left: 40px; padding-right: 40px;" type="button" class="btn btn-primary1" onclick="window.location.href='/login'">Login</button><br><br><br><br>
    <button style="color: white; border-radius: 20px ; padding-left: 35px; padding-right: 35px;" type="button" class="btn btn-primary2" onclick="window.location.href='/visitor'">Visitor</button><br><br>
</div>
{% endblock %}