{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<style>
    .btn-light-grey {
        background-color: #d3d3d3;
        border-color: #d3d3d3; 
        color: black; 
    }
    .btn-blue {
        background-color: #007bff; 
        border-color: #007bff; 
        color: white; 
    }
</style>
<body>
    <form method="POST">
        <h3 align="center" style="margin-top: 50px;">Visitor Registration</h3>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Visitor's Name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number:</label>
            <input type="tel" id="phone_number" name="phone_number" placeholder="Visitor's Phone Number" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="ic_number">IC Number:</label>
            <input type="text" id="ic_number" name="ic_number" placeholder="Visitor's IC Number" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="duration_of_stay">Duration of Stay:</label>
            <input type="datetime-local" id="duration_of_stay" name="duration_of_stay" placeholder="Duration of Stay" class="form-control" required>
        </div>
        <div class="form-group">    
            <label for="visiting_unit_number">Visiting Unit Number:</label>
            <input type="text" id="visiting_unit_number" name="visiting_unit_number" placeholder="Visiting Unit Number" class="form-control" required>
        </div>
        <div class="row">
            <div class="col text-left">
                <a href="{{ url_for('views.visitor') }}" class="btn btn-secondary">Back</a>
            </div>
            <div class="col text-right">
                <button type="submit" class="btn btn-blue">Register</button>
            </div>
        </div>
    </form>
</body>
{% endblock %}
